.min-height-400 {
    min-height: 400px !important;
}


.footer {
    min-height: 80px;

}

.open-cart {
    position: relative;
    border: none;
    background-color: transparent;
    background-image: url("../images/cart.png");
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    
}

.open-cart__count  {
    position: absolute;
    color: white;
    right: 0;
    bottom: -8px;
}

.clear-cart {
    position: absolute;
    right: 3px;
    bottom: 5px;
}